<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>ImportForAdmin</servlet-name>
    <servlet-class>servlet.ImportForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportForAdmin</servlet-name>
    <url-pattern>/ImportForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jiazhaojifen</servlet-name>
    <servlet-class>servlet.Jiazhaojifen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jiazhaojifen</servlet-name>
    <url-pattern>/Jiazhaojifen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DuokaoCheck</servlet-name>
    <servlet-class>servlet.DuokaoCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuokaoCheck</servlet-name>
    <url-pattern>/DuokaoCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YuekaoCheck</servlet-name>
    <servlet-class>servlet.YuekaoCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YuekaoCheck</servlet-name>
    <url-pattern>/YuekaoCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportGrade</servlet-name>
    <servlet-class>servlet.ImportGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportGrade</servlet-name>
    <url-pattern>/ImportGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportForWorker</servlet-name>
    <servlet-class>servlet.ImportForWorker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportForWorker</servlet-name>
    <url-pattern>/ImportForWorker</url-pattern>
  </servlet-mapping>
  <description></description>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToLicenceServlet</display-name>
    <servlet-name>ToLicenceServlet</servlet-name>
    <servlet-class>servlet.ToLicenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLicenceServlet</servlet-name>
    <url-pattern>/ToLicenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeKeyServlet</display-name>
    <servlet-name>ChangeKeyServlet</servlet-name>
    <servlet-class>servlet.ChangeKeyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeKeyServlet</servlet-name>
    <url-pattern>/ChangeKeyServlet</url-pattern>
  </servlet-mapping>
</web-app>